//Colors
$--dashboard-theme-heading-text: --dashboard-theme-heading-text;
$--dashboard-theme-body-text: --dashboard-theme-body-text;
$--dashboard-theme-muted-text: --dashboard-theme-muted-text;
$--dashboard-theme-placeholder-text: --dashboard-theme-placeholder-text;
$--dashboard-theme-divider: --dashboard-theme-divider;
$--dashboard-theme-primary: --dashboard-theme-primary;
$--dashboard-theme-primary-hover: --dashboard-theme-primary-hover;
$--dashboard-theme-secondary: --dashboard-theme-solid-secondary;
$--dashboard-theme-secondary-hover: --dashboard-theme-solid-secondary-hover;
$--dashboard-theme-error: --dashboard-theme-error;
$--dashboard-theme-shadow: --dashboard-theme-shadow;
$--dashboard-theme-shadow-card: --dashboard-theme-shadow-card;
$--dashboard-theme-radius-primary: --dashboard-theme-radius-primary;
$--dashboard-theme-radius-secondary: --dashboard-theme-radius-secondary;
