@import "styles/variables";
@import "styles/media-queries";
@import "styles/functions";

.main-menu__link {
  display: block;
  width: 100%;
  font-family: useThemeVariable($--font-display);
  padding: 21px 15px;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: useThemeVariable($--theme-primary);
    color: white;
  }

  &--no-url {
    cursor: default;
  }

  &--deep {
    border-bottom: 1px solid useThemeVariable($--theme-border-subtle);
    padding: 4px 16px;
    font-size: toRem(16);
    color: useThemeVariable($--theme-typography-default);
  }

  &--active {
    color: useThemeVariable($--theme-primary);
  }
}
