@import "styles/variables";
@import "styles/media-queries";
@import "styles/functions";

.main-menu {
  display: flex;
  margin: 0;
  padding: 0;

  &__list {
    position: relative;
    list-style: none;
  }

  &__link {
    padding: 21px 15px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    color: white;

    @include respond-below(xl) {
      padding: 15px 10px;
    }

    @include respond-below(lg) {
      display: none;
    }

    &:hover {
      background-color: useThemeVariable($--theme-primary);
    }
  }
}
