.dashboard-layout {
  background: #f8f7fa;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__sidebar {
    width: 260px;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
    background: white;
  }
  &__content {
    flex: 1;
    padding: 16px 24px;
  }
}

.container--dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
