$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;

$--theme-gray-primary: --theme-gray;
$--theme-gray-secondary: --theme-gray-dark;

$--theme-background-subtle: --theme-background-subtle;

$--theme-border-subtle: --theme-border-subtle;

$--theme-typography-default: --theme-typography-default;

$--font-display: --theme-font-display;
$--font-body: --theme-font-body;
